<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="{% block head_description %}NO_DESCRIPTION_SET{% endblock %}">
    <meta name="author" content="{% block head_author %}NO_AUTHOR_SET{% endblock %}">
    <link rel="icon" href="favicon.ico">
    <title>{% block head_title %}NO_TITLE_SET{% endblock %}</title>

    <!-- Bootstrap -->
	{% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Włącz nawigacje</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'view_index' %}">lukezaa.net</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="{% block homepage_sw %}{% endblock %}"><a href="{% url 'view_index' %}">Strona główna</a></li>
				<li class="{% block about_sw %}{% endblock %}"><a href="#contact">O mnie</a></li>
				<li class="{% block contact_sw %}{% endblock %}"><a href="#contact">Kontakt</a></li>
			</ul>
			<form class="navbar-form navbar-right">
				<div class="form-group">
				<input type="text" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
					<input type="password" placeholder="Hasło" class="form-control">
				</div>
				<button type="submit" class="btn btn-success">Zaloguj się</button>
				<a href="{% url 'login' %}" class="btn btn-info">Rejestracja</a>
			</form>	
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>lukezaa.net</h1>
        <p>Jebnąć jakieś piękne w chuj tło. I coś tam potem tu opisać</p>
      </div>
    </div>
	
	<div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
			{% block content %}

			{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>O mnie</h4>
            Lubię jeść kanapki z pomidorkiem <33
          </div>
		  <div class="sidebar-module">
            <h4>Kategorie</h4>
            <ol class="list-unstyled">
				{% if categories %}
					{% for category in categories %}
						<li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
					{% endfor %}
				{% else %}
					Brak kategorii.
				{% endif %}
            </ol>
          </div>
		  <div class="sidebar-module">
            <h4>Tagi</h4>
				{% if tags %}
					{% for tag in tags %}
						<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a> 
					{% endfor %}
				{% else %}
					Brak kategorii.
				{% endif %}
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
	</div><!-- /.container -->
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<footer>
		<div class="footer-bottom">
			<div class="container">
				<p class="pull-left">WAŻNA INFORMACJA! Kopiraj 2k17</p>
				<div class="pull-right">
						<ul class="social">
							<li><a href="#"> <i class=" fa fa-facebook"></i></a></li>
							<li><a href="#"> <i class="fa fa-twitter"></i></a></li>
							<li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"> <i class="fa fa-youtube"></i></a></li>
						</ul>
				</div>
			</div>
		</div>
		<!--/.footer-bottom--> 
	</footer>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
	<!-- Custom script file -->
	 <script src="{% static 'js/custom.js' %}"></script>
  </body>
</html>
