{% extends 'base.html' %}
{% block head_title %}bLOG BLOG  wymyslic tytuł{% endblock %}

{% block content %}
	{% if posts %}
		{% for post in posts %}
			<div class="blog-post">
				<div class="blog-post-top">
					<h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
					<p class="blog-post-meta">Opublikowano {{ post.created_date|date:'Y-m-d H:i' }} przez <a href="{% url 'view_author' author=post.author %}">{{ post.author }}</a> w <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></p>
				</div>
				<div class="blog-post-body">{{ post.body }}</div>
			</div><!-- /.blog-post -->
			<hr class="blog-hr" />
		{% endfor %}
		{% if posts.has_other_pages %}
		  <ul class="pagination">
			{% if posts.has_previous %}
			  <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&laquo;</span></li>
			{% endif %}
			{% for i in posts.paginator.page_range %}
			  {% if posts.number == i %}
				<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
			  {% else %}
				<li><a href="?page={{ i }}">{{ i }}</a></li>
			  {% endif %}
			{% endfor %}
			{% if posts.has_next %}
			  <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
			{% else %}
			  <li class="disabled"><span>&raquo;</span></li>
			{% endif %}
		  </ul>
		{% endif %}	
	{% else %}
		<div class="blog-post">
			There are no postz :\\ Lolz.
		</div><!-- /.blog-post -->
	{% endif %}
{% endblock %}