{% extends 'base.html' %} 
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="blog-post">
	<div class="blog-post-top">
		<h2 class="blog-post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
		<p class="blog-post-meta">Opublikowano {{ post.created_date|date:'Y-m-d H:i' }} przez <a href="{% url 'view_author' author=post.author %}">{{ post.author }}</a> w <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></p>
	</div>
	<div class="blog-post-body">{{ post.body }}</div>
	<p class="blog-post-meta">
	<hr class="blog-hr" />
	<strong>Tagi: </strong>
	{% for tag in post.tags.all %}
		<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
	{% endfor %}
	</p>
</div><!-- /.blog-post -->
{% endblock %}